.introWord {
    margin-left: 10px;
    margin-right: 80px;
    text-indent: 0;
    text-align: justify;
    align-items: center;
    /* border: 3px solid black; */
    border-radius: 5px;
    padding: 6px;
}

#someWords {
    text-align: justify;
    align-items: center;
    margin-left: 10px;
    margin-right: 80px;
    line-height: 40px;
}